/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
@import url(https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans);

/* Center the container */
#container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  padding:0.5em;
  background-color:#033048;
}

header div.logo{
  margin-left:5%;
  float:left;
}
header div.logo h1{
  margin:0;
  font-family:"Open Sans",sans-serif;
  font-size:3em;
  font-weight:800;
  color:#ffffff;
}

header nav.navbar ul{
  margin:0;
  float:right;
  margin-right:5%;
}

header nav.navbar li{
  display:inline;
  line-height:3em;
  font-size:1.5em;
  font-family:"Open Sans",sans-serif;
  font-weight:600;
  padding:0em 1em 0em 1em;
}

header nav.navbar a{
  text-decoration: none;
  color:#f9e42e;
}

main{
  background-color:#f0efef;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




